label 
  font-size: 1.7em

// .form-horizontal .control-label
//   padding-top: 10

input[type='text']
  height: 50px
  margin-bottom: 10px

.btn
  width: 100%

textarea
  margin-top: 10px
  min-height: 200px