label {
  font-size: 1.7em;
}

input[type='text'] {
  height: 50px;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
}

.trumbowyg-box, .trumbowyg-editor {
  margin: 0;
  width: 100%;
  color: black;
  background: white;
}

textarea {
  margin-top: 10px;
  background: white;
}
