.thread .list-group-item h4 span {
  font-size: 0.8em;
  padding-left: 15px;
  padding-right: 15px;
}
.thread .list-group-item h4 span + span {
  border-right: 2px solid #848e97;
}

.panel {
  margin-top: 60px;
}

.thread .list-group-item + .list-group-item {
  margin-top: 20px;
}
