{% extends 'base.html' %}

{% block head %}
<title>Forum ~ main</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/forum.css')}}">
{% endblock %}


{% block body %}

	<div class="thread">
	 	<div class="page-header">
		 	<h1>Thread Category be here</h1>
	 	</div>

	 	<div class="list-group">
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
		    	<p class="list-group-item-text">some description here maand asldnasdnasd</p>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
		</div>

	</div>

	<div class="thread">
	 	<div class="page-header">
		 	<h1>Thread Category be here</h1>
	 	</div>

	 	<div class="list-group">
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
		</div>

	</div>
	<div class="thread">
	 	<div class="page-header">
		 	<h1>Thread Category be here</h1>
	 	</div>

	 	<div class="list-group">
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
		</div>

	</div>

	<div class="last-active">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">last active threads</h3>
		  </div>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
			<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">
			    	Thread on saving the world
			    	<span class="pull-right hidden-xs">threads: 43</span>
			    	<span class="pull-right hidden-xs">last active: 12 september</span>
		    	</h4>
			</a>
		</div>
		
	</div>



{% endblock %}