{% macro render_form_errors(form) -%}

	{% if form.errors %}
		<ul class="list-group">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
					<li class="list-group-item active">{{ field_name }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}

{%- endmacro %}


{% macro js(file_name) -%}
	<script src="{{ url_for('static', filename='js/'+file_name) }}"></script>
{%- endmacro %}


{% macro css(file_name) -%}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',
													filename='css/'+file_name)}}">
{%- endmacro %}